[Unit]
Description=User VPD partition
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target
ConditionPathExists=/dev/mmcblk0gp0p2

[Mount]
What=/dev/mmcblk0gp0p2
Where=/nvram/user
Type=ext4
Options=rw

[Install]
WantedBy=local-fs.target
